<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="fragments/header">
<th:block layout:fragment="title">
  <title>This page is a Main page</title>
</th:block>

<th:block layout:fragment="content">
  랭킹 페이지
  <table>
    <thead>
      <tr>
        <th>User Name</th>
        <th>Score</th>
      </tr>
    </thead>
    <tbody>
      <tr th:if="${recordList.empty}">
          <td colspan="2"> No Record </td>
      </tr>
      <tr th:each="record : ${recordList}">
          <td><span th:text="${record.member.name}"> Name </span></td>
          <td><span th:text="${record.score}"></span></td>
      </tr>
    </tbody>
  </table>
</th:block>

</html>